// importo Bootstrap
@import "~bootstrap/scss/bootstrap";

//importo i Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap'); 

// iporto variabili
@import "./assets/scss/variables.scss";


// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// Body
// Google font
body {
    font-family: $mainFont;
    background: #1E2D3B;
    
}


// Header
.Header {
    position: fixed;
}


// MainSection
.section, .MainSection {
    height: 100vh;
}


// debug exemple
p {
    color:grey;
}


