@import "~bootstrap/scss/bootstrap";
// iporto variabili
@import "./assets/scss/variables.scss";

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// Body
body {
    font-family: Roboto, sans-serif;
}


// Header
.Header {
    position: fixed;
}


// MainSection
.MainSection {
    height: 100vh;
}


// debug exemple


