// iporto variabili
@import "./assets/scss/variables.scss";

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// Body
body {
    font-family: Roboto, sans-serif;
    color: rgb(255, 255, 255);
}


// Header
.Header {
    position: fixed;
}


// MainSection
.MainSection {
    height: 100vh;
    overflow-y: scroll;
    max-width: 100%;
    margin: auto;
}


// debug exemple


